@font-face {
  font-family: Minecraftia;
  src: url("../assets/fonts/Minecraftia.ttf");
}

* {
  font-family: Minecraftia;
  margin: 0;
}

html,
body {
  height: 100vh;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.bg-image.hidden {
  display: none;
}

.overlay-container {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  color: white;
  max-width: 300px;
}

.overlay-container--left {
  left: 0;
  right: unset;
  text-align: left;
  align-items: flex-start;
}

.weather-overlay {
  background: rgba(33, 33, 33, 0.7);
  padding: 0 8px 8px 8px;
  display: inline-block;
}

.settings-overlay {
  font-size: 0.8rem;
  padding: 8px;
  transition: opacity 300ms ease-in-out;
  background: rgba(33, 33, 33, 0.7);
}

a {
  color: white;
  display: block;
}

a + * {
  margin-top: 8px;
}

.hidden {
  opacity: 0;
}

.temperature {
  font-size: 2rem;
  margin-bottom: 4px;
}
